body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  h2 {
    margin-top: 10px;
  }
  
  h3{
    margin-top: 10px;
  }
  
  img {
    margin-top: 15%;
  }

  #randomNumber {
    display: inline-block;
    margin-top: 10px;
  }
  
  button {
    margin-top: 10px;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
  }
  
.new {
    display:inline-block;
  }